// color

$black: #100E0E;
$prime: #0071E4;
$light: #B7B7B7;
$lightGrey: #F9F9F9;
$white: #E7E7E7;
$dimGrey: #706E6E;
$dimNavy: #585656;
$darkNavy: #282626;
$iconLigth: #CCCCCC;
$lightPriem: #2A93FD;
$green: #52D116;
$darkBlue: #1E3240;